/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: #fffffe;
}

html{
    font-size: 62.5%;
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
}



/* UTILITIES */
.card{
    width: calc((100% / 3) - (3em/3));
    float: left;
    margin-bottom: 2em;
    margin-right: 1.5em;
    /* DEBUG */
    background-color: cornflowerblue;
}

.card:nth-child(3n+0){
    margin-right: 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}




/* HEADER */
/* titolo della pagina */
#titolo{
    color: #e53170;
    font-size: 3.2rem;
    margin: 1em 0;
}


/* MAIN */
.griglia{
    width: 100%;
    margin-top: 2.5em;
    
    /* DEBUG */
    background-color: chocolate;
}
