/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: #fffffe;
}

html{
    font-size: 62.5%;
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
}



/* UTILITIES */
.card{
    width: calc((100% / 3) - (3em/3));
    background-color: #0f0e17;
    float: left;
    margin-bottom: 2em;
    margin-right: 1.5em;
    box-shadow: 5px 5px 5px #a0a0a080;
}

.card:nth-child(3n+0){
    margin-right: 0;
}

.photo-card{
    width: calc(100% / 3);
    float: left;
}

.photo-card img{
    width: 100%;
    display: block;
}

.info-card{
    width: calc(100% - (100% / 3));
    float: right;
    text-align: left;
    color: #fff;
    padding-top: 1em;
    padding-left: 1em;
}

.info-card h2{
    font-size: 1.6rem;
    margin-bottom: .3em;
}

#specialist-card,
#email-card{
    margin-bottom: .5em;
    font-size: 1.2rem;
}

#email-card{
    color: #42bdde;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}


/* HEADER */
/* titolo della pagina */
#titolo{
    color: #e53170;
    font-size: 3.2rem;
    margin: 1em 0;
}


/* MAIN */
.griglia{
    width: 100%;
    margin-top: 2.5em;
}
